@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');




body{
    margin: 100px;
    background-color: rgb(230, 234, 200);
    font-family: "freight-text-pro", serif;
font-weight: 400;

}

.page-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
	margin-left: 200px;
    margin-top: 100px;
    gap: 50px;

   
}

.heading{
    font-family: "freight-text-pro", serif;
font-weight: 400;
font-style: normal;
    font-size: 14px;
    line-height: 150%;
    color: rgb(19, 19, 19);
    padding-bottom: 5px;
    max-width: 200px;

}

.grid-item1{
    
    line-height: 150%;
    color: rgb(19, 19, 19);
   
    max-width: 200px;
}

.date{
    font-family: "freight-text-pro", serif;
font-weight: 400;
font-style: normal;
    font-size: 12px;
    line-height: 150%;
    color: rgb(67, 0, 250);
   
    max-width: 200px;
}

.body{
    font-family: "freight-text-pro", serif;
font-weight: 400;
font-style: normal;
    font-size: 12px;
    line-height: 150%;
    color: rgb(19, 19, 19);
    max-width: 300px;
    padding-top: 10px;
}

.grid-item2{
   
    max-width: 250px;
}